<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567757415613-min228ensij4j8u3bc9gvkrmismjbfrb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567757415613-min228ensij4j8u3bc9gvkrmismjbfrb</string>
	<key>API_KEY</key>
	<string>AIzaSyDQaPUfeWolYt58aMvmsSlf9nHw8i6FpCw</string>
	<key>GCM_SENDER_ID</key>
	<string>567757415613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jiaqifeng.sellit</string>
	<key>PROJECT_ID</key>
	<string>sellit-1af12</string>
	<key>STORAGE_BUCKET</key>
	<string>sellit-1af12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567757415613:ios:01151108a671a777f603d4</string>
	<key>DATABASE_URL</key>
	<string>https://sellit-1af12.firebaseio.com</string>
</dict>
</plist>